<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%- include('./styles'); %>
    <title><%= subject %></title>
  </head>
  <body>
    <table
      class="body"
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
    >
      <tbody>
        <tr>
          <td></td>
          <td class="container">
            <div class="content">
              <!-- START CENTERED WHITE CONTAINER -->
              <table class="main" role="presentation">
                <!-- START MAIN AREA -->
                <tbody>
                  <tr>
                    <td class="wrapper">
                      <table
                        role="presentation"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tbody>
                          <tr>
                            <td>
                              <h1 class="h1">Learnly</h1>
                              <!-- CONTENT -->
                              <p>Dear <%= firstName %>,</p>
                              <p>
                                Greetings from Learnly! To regain access to your
                                account, please click on the following link to
                                reset your password
                              </p>
                              <table
                                class="btn btn-primary"
                                role="presentation"
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                              >
                                <tbody>
                                  <tr>
                                    <td align="left">
                                      <table
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td>
                                              <a
                                                href="<%= url %>"
                                                target="_blank"
                                                >Reset Your Password</a
                                              >
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <p>
                        If you did not request this password change,please
                        ignore the email. Your password will stay safe and won't
                        be changed.
                      </p>
                      <p>
                        Thank you for choosing Learnly. We're here to assist you
                        on your educational journey.
                      </p>
                      <p>Best regards,</p>
                      <p>The Learnly Team</p>
                    </td>
                  </tr>
                </tbody>
                <!-- END MAIN AREA -->
              </table>
              <!-- END CENTERED WHITE CONTAINER -->

              <!-- START FOOTER -->
              <div class="footer">
                <table
                  role="presentation"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td class="content-block">
                        <span class="apple-link">Learnly.</span><br />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- END FOOTER -->
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <!-- Additional footer or closing tags if required -->
  </body>
</html>
